TB_URL=http://localhost:9090
TB_USERNAME=
TB_PASSWORD=
TB_MQTT_HOST=localhost
TB_MQTT_PORT=1884

HIVEMQ_HOST=localhost
HIVEMQ_PORT=1883
HIVEMQ_BROKER=hivemq
HIVEMQ_USER=
HIVEMQ_PASS=

LOG_LEVEL=INFO
COAP_USE_DTLS=false
MQTT_USE_TLS=false
SYNC_ACK_TIMEOUT_SECONDS=10
SYNC_MAX_RETRIES=2
